* { position: relative; }

body {
	display: flex;
	flex-direction: column;
	
	margin: 0;
	min-height: 100vh;
	
	font-size: 22px;
	font-family: Palatino, "Book Antiqua", Cambria, serif;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	position: relative;
	
	--height: 320px;
	--border-width: 8px;
	--border: var(--border-width) solid darkgray;
	--avatar-size: 120px;
	
	height: var(--height);
	border-bottom: var(--border);
	font-size: 18px;
	
	color: white;
	background-color: #222222;
}

#name { font-size: 44px; }

.top-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	display: inline-block;
	
	height: 1.5em;
	margin: 0 .25em;
}

#avatar-container {
	height: calc(var(--avatar-size) * 0.75);
}

#avatar {
	position: absolute;
	left: calc(50vw - var(--avatar-size) / 2 - var(--border-width));
	bottom: calc(0px - var(--avatar-size) / 2 - var(--border-width));
	height: var(--avatar-size);
	width: var(--avatar-size);
	border-radius: 50%;
	border: var(--border);
	
	z-index: 1;
}

article {
	flex: 1;
	
	background-color: lightgray;
}